.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  flex-wrap: wrap;
}

.form-heading {
  text-align: center;
}

.input-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.input-out input,
.input-out textarea {
  padding: 0.7rem 2rem;
  border-radius: 10rem;
}
