.header {
  background-color: #131b25;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
  gap: 2rem;

  position: fixed;
  top: 0;
  height: 6.4rem;
  width: 100%;
  border-bottom: 2px solid aquamarine;
  overflow-y: none;
}

.brand-link:link,
.brand-link:visited {
  gap: 1rem;

  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
  color: #ddd;
  font-weight: 700;
}

.brand-link:hover,
.brand-link:focus {
  color: aquamarine;
}

.brand-img {
  height: 4.2rem;
  border-radius: 1000px;
  /* box-shadow: 0 1px 2px #fff; */
}

.main-nav {
  position: fixed;
  top: 0;
  height: 100vh;
  left: 0;
  right: 0;
  background-color: #131b25;

  transform: translateX(100%);
  opacity: 1;
  transition: all 350ms ease-in-out;
}

.toggle-nav {
  transform: translateX(0%);
  opacity: 1;
}

.nav-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  gap: 0;
}

.nav-list__item {
  border-bottom: 1px solid black;
  flex-grow: 1;
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: #ddd;
  cursor: pointer;
}

.nav-link:hover {
  color: aquamarine;
  background: rgba(37, 29, 19, 0.1);
}

/* ************* */
/* Navigtion toggle button */
/* ************* */

.nav-toggle {
  display: block;
  position: absolute;
  top: 1.2rem;
  right: 1.6rem;
  padding: 1.6rem;
  cursor: pointer;
  /* background-color: #ff00ff; */
}

.hamburger,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  height: 3px;
  width: 2.5rem;
  background-color: aquamarine;
  transition: all 250ms;
}

.hamburger::before {
  transform: translateY(-7px);
}

.hamburger::after {
  transform: translateY(4px);
}

.toggle-ham .hamburger {
  transform: rotate(45deg);
}

.toggle-ham .hamburger::after {
  /* transform: rotate(90deg); */
  transform: translateY(-3px);
}

.toggle-ham .hamburger::before {
  transform: rotate(-90deg);
}
